---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentCard from '../components/ContentCard.astro';
import { composeArticleLink } from '../lib/composeArticleLink';
import { getEntry } from 'astro:content';

const article = await getEntry('articles', 'radial-architecture');

if (!article) {
  throw new Error('Article not found: radial-architecture');
}

const { title, primaryDescription, primaryImage } = article.data;

const articleHref = composeArticleLink(article.data.slug);
---

<BaseLayout title="Radial Architecture">
  <div class="card-container">
    <ContentCard title={title} href={articleHref} description={primaryDescription} primaryImage={primaryImage} />
  </div>
</BaseLayout>

<style>
  @media screen and (min-width: 1080px) {
    .card-container {
      display: flex;
      justify-content: center;
      margin-top: calc(var(--space-6) * 2);
    }
  }
</style>
