---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title ? `${title} · Radial Architecture` : 'Radial Architecture'}>
  <article class="article">
    <!-- Left navigation will live here. -->
    <aside class="toc" aria-label="On this page">
      <div class="toc-inner">Table of contents goes here</div>
    </aside>

    <div class="workspace">
      <div class="content">
        <slot />
      </div>
    </div>

    <aside class="chat" aria-label="On this page">
      <div class="chatInner">ChatKit goes here</div>
    </aside>
  </article>
</BaseLayout>

<style>
  .article {
    position: relative;
  }

  .chat {
    width: 280px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .content {
    margin: auto;
    max-width: 680px;
  }

  .toc {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .workspace {
    margin: 0 300px;
  }
</style>
