---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title ? `${title} · Radial Architecture` : 'Radial Architecture'}>
  <article class="article">
    <aside class="toc" aria-label="On this page">
      <div class="toc-inner">Table of contents goes here</div>
    </aside>

    <div class="workspace">
      <div class="content">
        <slot />
      </div>
    </div>

    <aside class="chat" aria-label="On this page">
      <div class="chat-inner">ChatKit goes here</div>
    </aside>
  </article>
</BaseLayout>

<style>
  .article {
    position: relative;
    padding-top: 68px;
  }

  .chat {
    border-left: 1px solid var(--color-border);
    width: 340px;
    padding: var(--space-2);
    position: fixed;
    bottom: 0;
    right: 0;
    top: 68px;
  }

  .content {
    margin: auto;
    max-width: 680px;
  }

  .toc {
    background-color: var(--color-bg-secondary);
    border-right: 1px solid var(--color-border);
    bottom: 0;
    left: 0;
    padding: var(--space-2);
    position: fixed;
    top: 68px;
    width: 280px;
  }

  .workspace {
    margin: 0 350px 0 290px;
  }
</style>
